NOTIFY_ENDPOINT=https://sniffies-projects.vercel.app/api/notify
# This "secret" gets packed into the client build anyways, so it's not really secret. It's more of a "shared key" that the client and server both know, to prevent random third parties from sending fake notifications to the server. If you were to change this, you'd also have to change it in the server code.
NOTIFY_SECRET=ed6fd0cd-fe58-4dcc-83cd-65651771e0e9
DEBUG=false